# PlatformIO
.pio
.pioenvs
.piolibdeps

# Local test entry (kept locally for testing in VSCode, not pushed to GitHub library repo)
src/main.cpp

# Editor / IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.swp
*~

# OS files
.DS_Store
Thumbs.db
